{% extends 'core/base.html' %} {% load static %}



{% block content %}

<style>
  body{
    background-color: white;
  }
  main{
    background-color: #ecf0f1;

  }
  /* Sidebar oculto */
  #sidebar {
      width: 0;
      overflow: hidden;
      transition: width 0.3s ease;
  }

  /* Sidebar visible */
  #sidebar.active {
      width: 250px; /* Ajusta según prefieras */
  }

  /* Main ocupa todo el espacio cuando sidebar está oculto */


  /* Main se ajusta cuando sidebar está activo */
  #sidebar.active + main {
      margin-left: 250px;
  }
  /* Custom styles for sidebar */
  #sidebarMenu {
    height: auto;

    min-height: 40vh;
    position: relative;
    background-color:  #ecf0f1;
    padding-top: 20px;
    font-size: 1.2rem; /* Aumentar tamaño de texto */
  }
  #submenuEstudios, #submenuDatosMedicos {
    margin-bottom: 20px;
  }
  .sidebar .nav-link {
    font-size: 1.2rem; /* Aumentar el tamaño del texto del menú */
    padding: 15px 20px; /* Espaciado más grande */
    color: #333;
  }

  .sidebar .nav-link.active {
    background-color: black;
    color: white;
  }

  /* Background image styling */
  .background-image-container {
    background-size: cover;
    background-position: center;
    filter: brightness(0.6); /* Darken the background */
  }

  .content {
    z-index: 1; /* Bring content above background */
  }

  .text-white {
    color: white;
  }

  /* Make sidebar collapse on small screens */
  @media (max-width: 767.98px) {
    #sidebarMenu {
      display: block;
    }
    .content {
      text-align: center;
    }
  }
  .ficha-medica.aprobada {
    background-color: #d4edda; /* Verde muy claro */
    border-color: #c3e6cb;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
  }

  .ficha-medica.no-aprobada {
      background-color: #fff3cd; /* Amarillo claro */
      border-color: #ffeeba;
      color: #856404;
      padding: 10px;
      border-radius: 5px;
  }
  .row{
    background-color: #ecf0f1;
  }
  .responsive-map {
    position: relative;
    width: 100%;
    max-width: 600px; /* Limita el tamaño máximo */
    margin: 0 auto; /* Centra el mapa */
    padding-bottom: 56.25%; /* Relación 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 10px; /* Bordes redondeados opcional */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional */
  }

  .responsive-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;

  }
  /* Para dispositivos pequeños */
  @media (max-width: 576px) {
    .ficha-medica-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  /* Para dispositivos más grandes (a partir de 576px) el contenedor no cambia */
  @media (min-width: 576px) {
    .ficha-medica-container {
      display: block; /* O el estilo original que tenías */
    }
  }
</style>

   <div class="container-fluid ficha-medica-container">
  {% if ficha_medica.estado == "APROBADA" %}
  <div class="alert alert-info ficha-medica aprobada" role="alert">
      <p><strong>Estado del Apto Médico:</strong> {{ ficha_medica.estado }} <strong> - Fecha de Caducidad:</strong> {{ ficha_medica.fecha_caducidad }}</p>
  </div>
  {% else %}
  <div class="alert alert-info ficha-medica no-aprobada" role="alert">
      <p><strong>No tienes aptos médicos aprobados.</strong></p>
  </div>
  {% endif %}
</div>

  <div class="row">
    <div class="content py-5 text-center" id="welcomeContent">
      <h1 class="text-black">
        Bienvenido {{profile.nombre}} {{profile.apellido}}

      </h1>
      <br>
      <h2 class="text-black">
        Selecciona una opción del menú para continuar.
      </h2>
    </div>
    <!-- Sidebar -->
    <nav
        id="sidebarMenu"
        class="col-12 col-md-2 col-lg-2 d-md-block sidebar collapse"
      >
      <h3 class="text-left" style="margin-left: 20px;">Menu</h3>
      <div class="">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#" id="consultarApto">
              <i class="bi bi-file-medical"></i>
              Consultar Apto
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="datomedico">
              <i class="bi bi-journal-text"></i>
              Datos Médicos
            </a>
            <ul class="nav flex-column ms-3" id="submenuDatosMedicos" style="display: none;">
              <li class="nav-item">
                <a
                  class="nav-link"
                href="{% url 'registroMedico:ver_antecedente' jugador.id %}"
                  id="antecedentes"
                >
                  Antecedentes
                </a>
              </li>

              {% if ficha_medica %}
                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="{% url 'registroMedico:consentimiento' ficha_medica.idfichaMedica %}"
                    id="consentimiento"
                  >
                    Consentimiento
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#" id="estudiosToggle">
                    <i class="bi bi-journal-text"></i>
                    Estudios
                  </a>
                  <ul class="nav flex-column ms-3" id="submenuEstudios" style="display: none;">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'registroMedico:cargar_estudio' ficha_medica.idfichaMedica %}">
                        Cargar Estudios
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'registroMedico:ver_estudios' ficha_medica.idfichaMedica %}">
                        Ver Estudios
                      </a>
                    </li>
                  </ul>
                </li>
              {% else %}
                <li class="nav-item">
                  <p class="nav-link">No hay ficha médica disponible.</p>
                </li>
              {% endif %}

            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="datospersonales">
              <i class="bi bi-person"></i>
              Datos Personales
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" id="vertorneo">
              <i class="bi bi-trophy"></i>
              Ver Torneo
            </a>
          </li>
        </ul>
      </div>

    </nav>


    <!-- Main content with background image -->
  <main class="col-12 col-md-10 px-3" style="position: relative; min-height: 100vh;">





          <!-- Lógica para mostrar la alerta -->
          {% if not ficha_medica.consentimiento_persona %}
          <div class="alert alert-warning text-center mt-4" role="alert">
              <strong>Recuerda:</strong>
              {% if ficha_medica.antecedenteenfermedades %}
                  No te olvides de dar tu consentimiento. Dirígete a Datos Médicos / Consentimiento.
                  <a href="{% url 'registroMedico:consentimiento' ficha_medica.idfichaMedica %}" class="btn btn-secondary">Otorgar Consentimiento</a>
              {% else %}
                  Es obligatorio cargar los antecedentes de enfermedades.
                  <a href="{% url 'registroMedico:cargar_antecedente' jugador_id %}" class="btn btn-primary">Cargar Antecedentes</a>
              {% endif %}
          </div>
          {% endif %}




        <!-- Sección para mostrar el torneo seleccionado -->
        {% for categoria_equipo in jugador_info.categorias_equipo %}
        <div class="container mt-5 d-none" id="torneoSeleccionado">
          <h1 class="text-center mb-4">Torneo Seleccionado</h1>

          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h2 id="nombreTorneo" class="mb-4">
                {{ categoria_equipo.torneo }}
              </h2>
              <!-- Nombre del torneo -->
              <img
                id="logoTorneo"
                src="{% static 'core/img/ucfal.png' %}"
                alt="Logo del torneo"
                style="max-width: 150px"
              />
              <!-- Logo del torneo -->
              {% endfor %}
              <!-- Mapa de Google Maps embebido -->
              <div class="mt-4">
                <h5>Ubicación del Torneo</h5>
                <div class="responsive-map">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4820.030071378765!2d-64.19140032407297!3d-31.323751378199383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329a2946526775%3A0x990a4ccfbc13a275!2sUni%C3%B3n%20Cordobesa%20de%20F%C3%BAtbol%20Amateur!5e0!3m2!1ses!2sar!4v1729720527705!5m2!1ses!2sar"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                  </iframe>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- Tabla de Apto Médico -->
        <div class="table-responsive d-none" id="aptoTable">
          <h1 class="text-center">Lista de Torneos Inscriptos</h1>
          <table class="table table-striped table-bordered">
            <thead>
              <tr class="text-center">
                <th>Torneo</th>
                <th>Categoría</th>
                <th>Equipo</th>
                <th>Consentimiento</th>
                <th>Antecedentes</th>
                <th>Apto Medico</th>
              </tr>
            </thead>
            <tbody>
              {% for categoria_equipo in jugador_info.categorias_equipo %}
              <tr class="text-center">
                <td>{{ categoria_equipo.torneo }}</td>
                <td>{{ categoria_equipo.nombre_categoria }}</td>
                <td>{{ categoria_equipo.nombre_equipo }}</td>
                <td>
                  {% if ficha_medica.consentimiento_persona %}
                  Sí
                  {% else %}
                  No
                  {% endif %}
                </td>
                <td>
                  <div class="text-center">
                    {% if ficha_medica.antecedenteenfermedades %}
                    <!-- Si el jugador ya tiene antecedentes médicos cargados, mostramos el botón 'Ver' -->
                    <a
                      href="{% url 'registroMedico:ver_antecedente' jugador.id %}"
                      class="btn btn-success"
                      >Ver</a
                    >
                    {% else %}
                    <!-- Si no hay antecedentes cargados, mostramos el botón 'Cargar' -->
                    <a
                      href="{% url 'registroMedico:cargar_antecedente' jugador.id %}"
                      class="btn btn-warning"
                      >Cargar</a
                    >
                    {% endif %}
                  </div>
                </td>
                <td>
                  <div class="text-center">
                    {% if ficha_medica.estado == "APROBADA" %}
                    <!-- Mostrar el botón 'Ver' solo si el estado es APROBADO -->
                    <a href="{% url 'ficha_medica' jugador.id %}" class="btn btn-success">Ver</a>
                    {% else %}
                    <!-- Mostrar el estado actual si no está APROBADO -->
                    <span class="text-danger">{{ ficha_medica.estado }}</span>
                    {% endif %}
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!-- Datos Personales -->
        <div class="container mt-5 d-none" id="datosPersonales">
          <h1 class="text-center mb-4">Datos Personales</h1>
          <div class="card shadow-sm">
            <div class="card-body">
              <table class="table table-striped table-bordered">
                <tbody>
                  <tr>
                    <th>Nombre</th>
                    <td>{{ profile.nombre }}</td>
                  </tr>
                  <tr>
                    <th>Apellido</th>
                    <td>{{ profile.apellido }}</td>
                  </tr>
                  <tr>
                    <th>DNI</th>
                    <td>{{ profile.dni }}</td>
                  </tr>
                  <tr>
                    <th>Fecha de Nacimiento</th>
                    <td>{{ profile.fecha_nacimiento }}</td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td>{{ profile.email }}</td>
                  </tr>
                  <tr>
                    <th>Teléfono</th>
                    <td>{{ persona.telefono }}</td>
                  </tr>
                  <tr>
                    <th>Teléfono Alternativo</th>
                    <td>{{ persona.telefono_alternativo }}</td>
                  </tr>
                  <tr>
                    <th>Dirección</th>
                    <td>{{ persona.direccion }}</td>
                  </tr>
                  <tr>
                    <th>Obra Social</th>
                    <td>{{ persona.jugador.cobertura_medica }}</td>
                  </tr>
                  <tr>
                    <th>Numero de Afiliado</th>
                    <td>{{ persona.jugador.numero_afiliado }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="text-center mt-4">
                <a
                  href="{% url 'modificar_perfil' %}"
                  class="btn btn-success btn-lg"
                  >Modificar</a
                >
              </div>
            </div>
          </div>
        </div>

         <!-- Sección para mostrar el torneo seleccionado -->
        {% for categoria_equipo in jugador_info.categorias_equipo %}
        <div class="container mt-5 d-none" id="torneoSeleccionado">
          <h1 class="text-center mb-4">Torneo Seleccionado</h1>

          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h2 id="nombreTorneo" class="mb-4">
                {{ categoria_equipo.torneo }}
              </h2>
              <!-- Nombre del torneo -->
              <img
                id="logoTorneo"
                src="{% static 'core/img/ucfal.png' %}"
                alt="Logo del torneo"
                style="max-width: 150px"
              />
              <!-- Logo del torneo -->
              {% endfor %}
              <!-- Mapa de Google Maps embebido -->
              <div class="mt-4">
                <h5>Ubicación del Torneo</h5>
                <div class="responsive-map">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4820.030071378765!2d-64.19140032407297!3d-31.323751378199383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329a2946526775%3A0x990a4ccfbc13a275!2sUni%C3%B3n%20Cordobesa%20de%20F%C3%BAtbol%20Amateur!5e0!3m2!1ses!2sar!4v1729720527705!5m2!1ses!2sar"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                  </iframe>
                </div>

              </div>
            </div>
          </div>
        </div>




  </main>
</div>
<!-- JavaScript para mostrar/ocultar contenido -->
<script>
  // Mostrar el mensaje de bienvenida al cargar la página

  window.onload = function () {
    const welcomeContent = document.getElementById("welcomeContent");
    const sections = {
      'consultarApto': 'aptoTable',
      'datospersonales': 'datosPersonales',
      'torneoSeleccionado': 'torneoSeleccionado'  // Aquí está la sección de torneo
    };

    // Función para ocultar el mensaje de bienvenida al hacer clic en los enlaces del menú
    const menuLinks = document.querySelectorAll("#sidebarMenu .nav-link");
    menuLinks.forEach((link) => {
      link.addEventListener("click", function (event) {
        welcomeContent.classList.add("d-none"); // Ocultar mensaje de bienvenida
        const clickedId = this.id;

        // Ocultar todas las secciones
        Object.values(sections).forEach(section => {
          document.getElementById(section).classList.add("d-none");
        });

        // Mostrar la sección correspondiente
        if (sections[clickedId]) {
          document.getElementById(sections[clickedId]).classList.remove("d-none");
        }
      });
    });

    // Mostrar la sección del torneo al hacer clic en el botón "Ver Torneo"
    const verTorneoButton = document.getElementById('vertorneo');
    if (verTorneoButton) {
      verTorneoButton.addEventListener("click", function () {
        // Mostrar la sección del torneo
        const torneoSeleccionado = document.getElementById('torneoSeleccionado');
        torneoSeleccionado.classList.remove("d-none");
      });
    }
  };





  document
    .getElementById("consultarApto")
    .addEventListener("click", function (event) {
      event.preventDefault();
      document.getElementById("aptoTable").classList.remove("d-none"); // Mostrar tabla de apto
      document.getElementById("datosPersonales").classList.add("d-none"); // Asegúrate de ocultar datos personales
      document.getElementById("torneoSeleccionado").classList.add("d-none");
    });
    document.getElementById("estudiosToggle").addEventListener("click", function (event) {
      event.preventDefault();
      const submenu = document.getElementById("submenuEstudios");
      submenu.style.display = submenu.style.display === "none" ? "block" : "none"; // Alternar la visibilidad
  });
  document
    .getElementById("datospersonales")
    .addEventListener("click", function (event) {
      event.preventDefault();
      document.getElementById("aptoTable").classList.add("d-none"); // Ocultar tabla de apto
      document.getElementById("datosPersonales").classList.remove("d-none"); // Mostrar datos personales
    });

  document
    .getElementById("datomedico")
    .addEventListener("click", function (event) {
      event.preventDefault();
      const submenu = document.getElementById("submenuDatosMedicos");
      submenu.style.display =
        submenu.style.display === "none" ? "block" : "none"; // Alternar el submenú
    });

  // Mostrar la sección del torneo al hacer clic en el enlace correspondiente
  document
    .getElementById("vertorneo")
    .addEventListener("click", function (event) {
      event.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

      // Mostrar la sección del torneo
      document.getElementById("torneoSeleccionado").classList.remove("d-none");

      // Ocultar otras secciones
      document.getElementById("aptoTable").classList.add("d-none");
      document.getElementById("datosPersonales").classList.add("d-none");
    });
// scripts que maneja la apertura y cierre del nav bar
document.addEventListener('click', function(event) {
  const navbar = document.getElementById('navbarNav');
  const toggler = document.querySelector('.navbar-toggler');

  if (navbar.classList.contains('show') && !navbar.contains(event.target) && !toggler.contains(event.target)) {
      toggler.click();  // Cierra el menú
  }
});

</script>

{% endblock %}


