{% extends 'core/base.html' %}

{% block content %}
<style>
    .alert-danger {
        background-color: #f8d7da;  /* Fondo rojo claro */
        color: #721c24;  /* Texto rojo oscuro */
        border: 1px solid #f5c6cb;  /* Borde rojo claro */
    }

</style>
<h2>Cambiar Contraseña</h2>

<!-- Mostrar mensajes de Django (exitosos, de error, etc.) -->
{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    
    <!-- Mostrar errores si los hay -->
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    
    <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
</form>
{% endblock %}