{% extends 'core/base.html' %}
{% load static %}
{% block title %}Escriba la nueva contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>

<!-- FontAwesome (si aún no lo cargás) -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        {% if validlink %}
          <form action="" method="post">{% csrf_token %}
            <h3 class="mb-4">Escriba la nueva contraseña</h3>
            <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>

            {{form.new_password1.errors}}
            <div class="input-group mb-3">
              <input type="password" name="new_password1" required id="id_new_password1" class="form-control" placeholder="Introduce la nueva contraseña">
              <span class="input-group-text" onclick="togglePasswordVisibility('id_new_password1', 'toggle-icon1')" style="cursor:pointer;">
                <i id="toggle-icon1" class="fa fa-eye"></i>
              </span>
            </div>

            {{form.new_password2.errors}}
            <div class="input-group mb-3">
              <input type="password" name="new_password2" required id="id_new_password2" class="form-control" placeholder="Repite la nueva contraseña">
              <span class="input-group-text" onclick="togglePasswordVisibility('id_new_password2', 'toggle-icon2')" style="cursor:pointer;">
                <i id="toggle-icon2" class="fa fa-eye"></i>
              </span>
            </div>

            <p><input type="submit" class="btn btn-primary btn-block" value="Cambiar mi contraseña"></p>
          </form>
        {% else %}
          <h3 class="mb-4">Restablecimiento de contraseñas fallido</h3>
          <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
        {% endif %}
      </div>
    </div>
  </div>
</main>

<script>
    function togglePasswordVisibility(fieldId, iconId) {
        const passwordField = document.getElementById(fieldId);
        const toggleIcon = document.getElementById(iconId);

        if (passwordField.type === "password") {
            passwordField.type = "text";
            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
        } else {
            passwordField.type = "password";
            toggleIcon.classList.remove("fa-eye-slash");
            toggleIcon.classList.add("fa-eye");
        }
    }
</script>
{% endblock %}